html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    padding-top: 56px;
    margin-top: 0px;
    background-color: #efefef;
    position: relative
}

@keyframes appearFromTop {
    from {
        top: -100px;
        opacity: 0
    }
    to {
        top: 250px;
        opacity: 1;
    }
}

.navbar {
    font-family: 'Alegreya SC';
    font-size: 16px
}
.new-article {
    font-family: 'Merriweather', serif;
    font-weight: 400
}
.overlay {
    font-family: 'Amaranth';
}
.bottompanel .copyrights {
    font-family: 'Alegreya SC';
    font-size: 18px
}

@media screen and (min-width: 991.98px) {
    ::-webkit-scrollbar {
	    width: 6px;
	    background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
	    background-color: #666666;
    }
    ::-webkit-scrollbar-thumb:hover {
	    background-color: #444444;
    }
    html {
        scrollbar-width: thin;
        scrollbar-color: #666666 #cccccc;
    }
    .content-desktop {
        display: block !important
    }
    .content-mobile {
        display: none !important
    }
    .website-name {
        padding-right: 17px;
        border-right: 1px solid white;
    }
    .navbar-collapse {
        display: -ms-flexbox;
        display: flex;
        justify-content: flex-end;
    }
    .navbar-nav {
        margin-left: auto;
        margin-right: auto;
    }
    .topics {
        margin-left: 60px;
        margin-right: 60px;
    }
    .topics > span {
        display: flex;
        justify-content: center;
    }
    .topics-menu {
        max-height: 220px;
        overflow-y: auto;
    }
    .topics-menu::-webkit-scrollbar {
        width: 3px
    }
    .topics-btn {
        display: none !important;
        background-color: transparent;
        padding: 5px 7px;
        border: 1px solid transparent;
        margin-right: -6px
    }
    .topics-btn:focus {
        outline: none
    }
    .topics-menu {
        min-width: 200px;
        max-width: 250px;
        text-align: center;
        left: 50%;
        margin-top: -2px !important;
        transform: translate(-50%, 0) !important;
    }
    .topics-menu > .dropdown-item {
        white-space: normal;
        word-wrap: break-word;
        word-break: keep-all;
    }
    .fa-plus {
        color: white;
        font-size: 18px
    }
    .fa-minus {
        color: white;
        font-size: 18px
    }
    .member {
        margin-left: 50px;
        margin-right: 40px;
    }
    .member-menu {
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
    }
    .tooltiptext-bottom {
        visibility: hidden;
        width: auto;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 10px;
        position: absolute;
        z-index: 1;
    }
    .tooltiptext-bottom::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black  transparent;
    }
    .prettyprint {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .new-article {
        width: 70%;
        margin-left: 15%;
        padding: 3% 10%;
        background-color: white;
        border-radius: 40px 40px 40px 40px;
    }
	#title-name {
        width: 300px;
		float: left;
		margin-left: 5%
	}
	.label {
		float: left;
		line-height: 35px;
	}
	.tools {
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
		transform: translate(0, -40px)
    }
    .tools > span {
        margin-left: 10px
    }
    .publish-confirmation {
        color: white;
        background-color: #222;
        font-size: 20px;
        position: relative;
        top: -52px;
        padding: 30px 50px;
        border: 1px solid #222;
        border-radius: 10px 10px 10px 10px;
        display: none;
        z-index: 1
    }
    .bottompanel {
        padding: 50px 60px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white
    }
    .bottompanel > .row {
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        margin-left: -90px;
    }
    .bottompanel > .row > div {
        margin-left: 90px;
    }
}

@media screen and (max-width: 991.98px) {
    ::-webkit-scrollbar {
	    width: 3px;
	    background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
	    background-color: #666666;
    }
    ::-webkit-scrollbar-thumb:hover {
	    background-color: #444444;
    }
    body {
        background-color: white;
    }
    .content-desktop {
        display: none !important
    }
    .content-mobile {
        display: block
    }
    .offcanvas-collapse {
        position: fixed;
        top: 56px; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-x: hidden;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 11;
        transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }
    .offcanvas-collapse.open {
        visibility: visible;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    .navbar-toggler {
        float: right
    }
    .navbar-nav {
        margin-top: 70px;
        margin-bottom: 30px;
    }
    .navbar-nav > li {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .topics {
        margin-left: auto;
        margin-right: auto;
        padding-right: 7px;
    }
    .topics > span {
        display: flex;
        justify-content: center;
    }
    .topics-menu {
        margin-top: 0px;
        text-align: center;
        max-height: 155px;
        min-width: 250px;
        overflow-y: auto;
    }
    .topics-menu > .dropdown-item {
        white-space: normal;
        word-wrap: break-word;
        word-break: keep-all;
    }
    .topics-menu::-webkit-scrollbar-track {
        background-color: white;
    }
    .topics-btn {
        background-color: transparent;
        padding: 5px 7px;
        border: 0;
        display: none;
    }
    .topics-btn:focus {
        outline: none
    }
    .topics > .topics-text {
        padding: 10px 10px !important
    }
    .fa-plus {
        color: white;
        font-size: 18px
    }
    .fa-minus {
        color: white;
        font-size: 18px
    }
    .member {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, 0)
    }
    .member-menu {
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center
    }
    .new-article {
        width: 100%;
        padding: 0% 3%;
        text-align: center;
        margin-top: 75px !important;
        background-color: white;
        border-radius: 20px 20px 20px 20px;
    }
	#title-name {
		margin-left: 3%
    }
    .tools {
        background-color: #f5f5f5;
        display: inline-grid;
        grid-template-columns: auto auto;
        row-gap: 5px;
        column-gap: 5px;
        padding: 15px 20px;
        margin-bottom: 10px;
        border: 1px solid #f5f5f5;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 20px 5px #eeeeee;
    }
    .publish-confirmation {
        width: 350px;
        color: white;
        background-color: #222;
        font-size: 20px;
        position: relative;
        top: -52px;
        padding: 10px 20px;
        border: 1px solid #222;
        border-radius: 10px 10px 10px 10px;
        display: none;
        z-index: 1
    }
    .bottompanel {
        padding: 50px 60px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white
    }
    .bottompanel > .row {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        margin-left: -20px;
    }
    .bottompanel > .row > div {
        margin-left: 20px;
    }
}

.website-name {
    font-size: 24px;
    color: white;
}
.website-name:hover {
    color: white;
    text-decoration: none
}
.dropdown-toggle::after {
    content: none;
}
#member-menu::after {
    content: none;
}
.nav-item > a {
    color: white !important;
}
.fa-user-cog {
    color: white;
    font-size: 20px;
    margin-right: 5px
}
.navbar-collapse {
    margin-top: -4px
}
.button {
    background-color: rgb(15, 32, 39);
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px 5px 5px 5px;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 3px 1px #666666, 0 0 5px 2px #ddd;
}
.button:hover {
    background-color: rgb(44, 83, 100);
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px 5px rgb(44, 83, 100) inset;
}
#member-menu {
    color: white;
    margin-left: 5px
}
#member-menu:hover {
    text-decoration: none;
}
.topics-menu > .dropdown-item:hover {
    background-color: #d6d6d6
}
.member-menu > .dropdown-item:hover {
    background-color: #d6d6d6
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top: 52px;
    width: 100vw;
    min-height: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 100000
}
.select-topic {
	width: 220px;
    word-wrap: break-word;
    word-break: keep-all;
    white-space: normal;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
    display: inline-block;
    color: lightseagreen;
    border: 1px solid lightseagreen;
	border-radius: 50px 50px 50px 50px
}
.select-topic:hover {
    color: white !important;
    background-image: linear-gradient(to right, #2B32B2, #1488CC) !important;
    border: 1px solid rgb(28, 181, 224);
	border-radius: 50px 50px 50px 50px
}
#dropdown > .dropdown-menu > .dropdown-item {
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    line-clamp: 2;
    margin-left: 25px;
    margin-top: -5px !important;
    cursor: pointer;
	padding: 5px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 50px 50px 50px 50px
}
#dropdown > .dropdown-menu > .dropdown-item:hover {
	padding: 5px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 50px 50px 50px 50px
}
#dropdown > .dropdown-menu {
	padding-top: 6px;
	padding-bottom: 1px;
	background: none !important;
	border: none !important;
	z-index: 1
}
#dropdown > .dropdown-menu > .dropdown-item {
	margin-top: 1px;
	margin-bottom: 1px;
}
#dropdown > .btn:focus {
	box-shadow: none !important
}
.input {
	color: black;
	font-size: 16px;
	padding: 1% 1%;
	border: 1px solid black;
	border-radius: 5px 5px 5px 5px
}
.toolbar > .tools > span {
	background-color: black;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: 1px solid black;
	border-radius: 10px 10px 10px 10px
}
.toolbar > .tools > span:hover {
	background-color: #525252;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: 1px solid #525252;
	border-radius: 10px 10px 10px 10px
}
.new-article {
    margin-top: 100px;
    margin-bottom: 100px;
    visibility: hidden;
}
.prettyprint {
    margin-bottom: 20px;
    padding: 15px 10px !important;
    border: 0 !important;
    max-width: 100%;
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: left;
    display: inline-block;
}
li.L0, li.L1, li.L2, li.L3, li.L4,
li.L5, li.L6, li.L7, li.L8 {
    list-style-type: decimal !important;
    font-size: 16px;
    padding: 0 5px
}
.latex {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.publish {
	background-color: transparent;
	color: green;
	padding: 10px 20px;
	float: right;
	text-align: center;
	text-decoration: none;
	border: 1px solid green;
    border-radius: 7px 7px 7px 7px;
    transition: all 0.4s ease-in-out;
}
.publish:hover {
	background-color: green;
	color: #f5f5f5;
	padding: 10px 20px;
	float: right;
	text-align: center;
	text-decoration: none;
	border: 1px solid green;
	border-radius: 7px 7px 7px 7px
}
.publish-no {
    background-color: white;
	color: black;
	padding: 5px 20px;
    margin-left: 10px;
    float: right;
	text-align: center;
	text-decoration: none;
	border: 1px solid #222;
	border-radius: 7px 7px 7px 7px;
}
.publish-no:hover {
	background-color: #ff0037;
	color: white;
	margin-left: 10px;
	text-decoration: none;
	border: 1px solid #ff0037;
}
.publish-yes {
    background-color: white;
	color: green;
	padding: 5px 20px;
    margin-left: 10px;
    float: right;
	text-align: center;
	text-decoration: none;
	border: 1px solid #222;
	border-radius: 7px 7px 7px 7px;
}
.publish-yes:hover {
	background-color: green;
	color: white;
	text-decoration: none;
	border: 1px solid green;
}
.bottompanel > .row > div > ul > li > a {
    color: lightseagreen
}